body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:77px;
}
#u5140 {
  position:absolute;
  left:225px;
  top:141px;
  width:1120px;
  height:77px;
}
#u5141 {
  position:absolute;
  left:2px;
  top:30px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:591px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5143 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:591px;
}
#u5144 {
  position:absolute;
  left:2px;
  top:288px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u5146 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5147 {
  position:absolute;
  left:1136px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u5148 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5149 {
  position:absolute;
  left:33px;
  top:18px;
  width:238px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5150 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u5151 {
  position:absolute;
  left:33px;
  top:97px;
  width:105px;
  height:105px;
}
#u5151_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5152 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5153 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5153_img.selected {
}
#u5153.selected {
}
#u5154 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5155 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5156 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5152_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5157 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u5158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5158 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u5159 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5160 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u5162 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u5163 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5165 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5166 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u5167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5167 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5168 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5169 {
  position:absolute;
  left:38px;
  top:211px;
  width:120px;
  height:105px;
}
#u5169_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5170 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5171 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5171_img.selected {
}
#u5171.selected {
}
#u5172 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5173 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5174 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5170_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5175 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u5177 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5178 {
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
}
#u5179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5179 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u5180 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5181 {
  position:absolute;
  left:20px;
  top:60px;
  width:95px;
  height:20px;
}
#u5182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5182 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u5183 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5184 {
  position:absolute;
  left:20px;
  top:80px;
  width:95px;
  height:20px;
}
#u5185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5185 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u5186 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u5187 {
  position:absolute;
  left:38px;
  top:331px;
  width:105px;
  height:45px;
}
#u5187_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5188 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5189 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5189_img.selected {
}
#u5189.selected {
}
#u5190 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5192 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5188_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5193 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5194 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5195 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u5196 {
  position:absolute;
  left:1268px;
  top:30px;
  width:19px;
  height:12px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5198 {
  position:absolute;
  left:337px;
  top:174px;
  width:75px;
  height:33px;
}
#u5199 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5198_ann {
  position:absolute;
  left:405px;
  top:170px;
  width:1px;
  height:1px;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5200 {
  position:absolute;
  left:511px;
  top:288px;
  width:108px;
  height:16px;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u5202 {
  position:absolute;
  left:262px;
  top:169px;
  width:150px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5203 {
  position:absolute;
  left:565px;
  top:334px;
  width:52px;
  height:16px;
}
#u5204 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:341px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5205 {
  position:absolute;
  left:407px;
  top:367px;
  width:661px;
  height:341px;
}
#u5206 {
  position:absolute;
  left:2px;
  top:162px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5207 {
  position:absolute;
  left:566px;
  top:387px;
  width:52px;
  height:16px;
}
#u5208 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5209 {
  position:absolute;
  left:528px;
  top:433px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5210 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5211 {
  position:absolute;
  left:528px;
  top:555px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5212 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5213 {
  position:absolute;
  left:629px;
  top:288px;
  width:58px;
  height:16px;
  color:#000000;
}
#u5214 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5215 {
  position:absolute;
  left:627px;
  top:334px;
  width:159px;
  height:16px;
  text-align:center;
}
#u5216 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u5217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5217 {
  position:absolute;
  left:628px;
  top:433px;
  width:300px;
  height:96px;
}
#u5218 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5219 {
  position:absolute;
  left:628px;
  top:387px;
  width:300px;
  height:16px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5221 {
  position:absolute;
  left:528px;
  top:601px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5223 {
  position:absolute;
  left:617px;
  top:593px;
  width:370px;
  height:107px;
}
#u5223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5224 {
  position:absolute;
  left:628px;
  top:555px;
  width:170px;
  height:16px;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:341px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5226 {
  position:absolute;
  left:407px;
  top:736px;
  width:661px;
  height:341px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:162px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  position:absolute;
  left:566px;
  top:756px;
  width:52px;
  height:16px;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5230 {
  position:absolute;
  left:528px;
  top:802px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5231 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5232 {
  position:absolute;
  left:528px;
  top:924px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5234 {
  position:absolute;
  left:628px;
  top:802px;
  width:300px;
  height:80px;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5236 {
  position:absolute;
  left:628px;
  top:756px;
  width:300px;
  height:16px;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5238 {
  position:absolute;
  left:528px;
  top:970px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5240 {
  position:absolute;
  left:617px;
  top:962px;
  width:370px;
  height:107px;
}
#u5240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5241 {
  position:absolute;
  left:628px;
  top:924px;
  width:131px;
  height:16px;
}
#u5242 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
