body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:595px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:290px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2303 {
  position:absolute;
  left:0px;
  top:51px;
  width:360px;
  height:544px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:264px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:51px;
}
#u2305 {
  position:absolute;
  left:1px;
  top:0px;
  width:359px;
  height:51px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2306 {
  position:absolute;
  left:2px;
  top:18px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2307 {
  position:absolute;
  left:14px;
  top:17px;
  width:13px;
  height:24px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2309 {
  position:absolute;
  left:119px;
  top:20px;
  width:123px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2310 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2313 {
  position:absolute;
  left:17px;
  top:80px;
  width:334px;
  height:136px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:60px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2315 {
  position:absolute;
  left:26px;
  top:95px;
  width:313px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:26px;
}
#u2317 {
  position:absolute;
  left:23px;
  top:112px;
  width:215px;
  height:69px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:26px;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2319 {
  position:absolute;
  left:51px;
  top:191px;
  width:31px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2320 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2321 {
  position:absolute;
  left:240px;
  top:190px;
  width:103px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:77px;
}
#u2323 {
  position:absolute;
  left:251px;
  top:95px;
  width:88px;
  height:77px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:30px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2325 {
  position:absolute;
  left:26px;
  top:191px;
  width:15px;
  height:15px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2328 {
  position:absolute;
  left:15px;
  top:232px;
  width:339px;
  height:220px;
  text-align:left;
}
#u2329 {
  position:absolute;
  left:2px;
  top:102px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u2330 {
  position:absolute;
  left:29px;
  top:240px;
  width:31px;
  height:32px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2332 {
  position:absolute;
  left:70px;
  top:242px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u2334 {
  position:absolute;
  left:31px;
  top:282px;
  width:100px;
  height:90px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u2336 {
  position:absolute;
  left:138px;
  top:282px;
  width:100px;
  height:90px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u2338 {
  position:absolute;
  left:244px;
  top:282px;
  width:100px;
  height:90px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2340 {
  position:absolute;
  left:31px;
  top:382px;
  width:313px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2342 {
  position:absolute;
  left:31px;
  top:429px;
  width:137px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2344 {
  position:absolute;
  left:303px;
  top:251px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u2346 {
  position:absolute;
  left:25px;
  top:421px;
  width:322px;
  height:1px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:-8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2348 {
  position:absolute;
  left:289px;
  top:429px;
  width:53px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2350 {
  position:absolute;
  left:70px;
  top:261px;
  width:103px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
