body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:1306px;
}
#u2670 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:1306px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:645px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
