body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:559px;
}
#u2480 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:559px;
}
#u2481 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2482 {
  position:absolute;
  left:8px;
  top:498px;
  width:41px;
  height:35px;
  color:#FFFFFF;
}
#u2483 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
