body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:590px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:287px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:51px;
}
#u2490 {
  position:absolute;
  left:1px;
  top:0px;
  width:359px;
  height:51px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2491 {
  position:absolute;
  left:2px;
  top:18px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2492 {
  position:absolute;
  left:1px;
  top:52px;
  width:360px;
  height:538px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:261px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2494 {
  position:absolute;
  left:15px;
  top:17px;
  width:13px;
  height:24px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u2496 {
  position:absolute;
  left:120px;
  top:20px;
  width:123px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:406px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2498 {
  position:absolute;
  left:28px;
  top:80px;
  width:306px;
  height:406px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:195px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
}
#u2500 {
  position:absolute;
  left:46px;
  top:455px;
  width:270px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2501 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u2502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u2502 {
  position:absolute;
  left:41px;
  top:121px;
  width:280px;
  height:280px;
}
#u2503 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
